<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur le site officiel du JEERE</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="forgetPassword.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
  </head>

  <body>
    <nav>
      <a href="../session/log_in_up.html"
        ><img class="log" src="../images/logo.png" alt=""
      /></a>
    </nav>
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <form action="#">
          <h1 id="cool">DEMANDE D'UN NOUVEAU MOT DE PASSE</h1>
          <div id="focus">
            Veuillez renseigner votre e-mail afin de pouvoir créer un nouveau
            mot de passe.
          </div>
          <!-- <span>or use your account</span> -->
          <input
            type="email"
            id="fpemail"
            placeholder="Email"
            autocomplete="off"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          />

          <button id="send" type="submit">Envoyer</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h1 id="forget">Mot de passe oublié ?</h1>
            <h2>Pas de panique !</h2>
            <p class="para">
              Réinitialiser votre mot de passe et revenez nous vite, une belle
              surprise vous attende !
            </p>

            <div id="idem">
              Retrouvez-nous aussi sur ces réseaux
              <div class="social-container">
                <a href="#" class="social facebook"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a href="#" class="social instagram"
                  ><i class="fab fa-instagram"></i
                ></a>
                <a href="#" class="social tweeter"
                  ><i class="fab fa-twitter"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./forgetPassword.js"></script>
</html>
